@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root {
     --dc: #faeb9a; /*dourado claro*/
     --de: #bc8d43; /*dourado escuro*/
     --bc: #fafafa; /*branco claro(?)*/
     --be: #eaeaea; /*branco escuro*/
     --pr: #1c1c1c; /*preto acinzentado*/
}

body {
     max-width: 100vw;
     background-color: var(--pr);
     overflow-x: hidden;
     padding-right: 0;
}

body,
.resumo,
.marketing,
.info {
     max-width: 100%;
}
img {
     max-width: 100%;
     height: auto;
}

.resumo {
     display: flex;
     justify-content: center;
     align-items: flex-end;
     height: 40vh;
     width: 100vw;
     margin-top: 20vh;
     margin-bottom: 5vh;
}

.res-lf-side {
     height: 100%;
     width: 30%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.res-lf-side img {
     max-width: 150px;
     animation: updown 5s infinite ease;
}

@keyframes updown {
     0% {
         transform: translateY(0);
     }
     50% {
         transform: translateY(-10px);
     }
     100% {
         transform: translateY(0);
     }
 }

.res-rt-side {
     height: 100%;
     color: var(--bc);
     width: 35%;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     flex-direction: column;
     padding: 30px;
     gap: 50px;
}
@media (max-width: 1400px) {
     .res-rt-side {
          width: 40%;
     }
}
@media (max-width: 1100px) {
     .res-rt-side {
          width: 55%;
     }
}

.res-title {
     display: flex;
     align-items: center;
     justify-content: start;
     text-align: justify;
     height: 5%;
     width: 100%;
}

.res-title h2 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     font-weight: 200;
     letter-spacing: 5px;
     position: relative;
}

.res-title h2::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -10px; /* Coloca a linha logo abaixo do texto */
     width: 100px;
     height: 1px; /* Espessura da linha */
     background-color: var(--de); /* Cor da linha */
}

.res-content {
     font-family: "Gowun Batang", system-ui;
     display: flex;
     text-align: justify;
     font-size: 18px;
     font-weight: 100;
}

.marketing {
     /* border: solid 1px ; */
     width: 100vw;
     height: 55vh;
     margin-bottom: 10vh;
     position: relative;
     display: flex;
}

.marketing-img {
     height: 100%;
     width: 100vw;
     overflow: hidden;
     display: flex;
     align-items: center;
     z-index: -1000;
}

.marketing-filter {
     height: 100%;
     width: 100vw;
     background-color: var(--de);
     opacity: 60%;
     position: absolute;
     z-index: 1;
}

.marketing-img img {
     max-width: 100vw;
}

.marketing-content {
     position: absolute;
     z-index: 2;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100%;
     width: 100vw;
     color: var(--bc);
     font-family: "Gowun Batang", system-ui;
}

.mark-ct-slogan {
     font-size: 20px;
     display: flex;
     flex-direction: column;
     text-align: center;
     justify-content: center;
     align-items: center;
     margin-bottom: 50px;
}

.mark-ct-slogan p span {
     color: var(--dc);
}

.mark-ct-slogan p a {
     color: #faeb9a;
     text-decoration: none;
}

.mark-ct-slogan::after {
     content: "";
     height: 2px;
     background-color: var(--be);
     width: 60%;
     transform: translateY(15px);
}

.mark-ct-meio {
     font-size: 18px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     text-align: center;
     justify-content: center;
     align-items: center;
     margin-bottom: 50px;
     width: 50%;
}

.mark-ct-button {
     position: relative;
}

.mark-ct-button button {
     padding: 15px;
     font-size: 22px;
     color: var(--de);
     background-color: var(--be);
     border: none;
     border-radius: 10px;
     transition: 0.15s;
}

.mark-ct-button button:hover {
     cursor: pointer;
     scale: 1.025;
}

.bot-mockup {
     position: absolute;
     z-index: 1;
     height: fit-content;
     bottom: -40px;
}

.bot-mockup img {
     max-width: 100%;
}

/* info */

.info {
     width: 100vw;
     height: 85vh;
     margin-bottom: 15vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: relative;
}

.info-top-mockup {
     transform: rotateX(180deg);
     position: absolute;
     top: -30px;
     z-index: 10;
}

.info-top-mockup img {
     max-width: 100%;
}

.info-bot-mockup {
     position: absolute;
     bottom: -30px;
     z-index: 10;
}

.info-bot-mockup img {
     max-width: 100%;
}

.info-block {
     height: 100%;
     width: 80%;
     background: linear-gradient(to right, var(--dc), var(--de),  var(--de),  var(--de), var(--dc));
     border-radius: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 2%;
     flex-wrap: wrap;


}



.sec-info {
     width: 75%;
     height: 30%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-evenly;
     color: var(--be);

}


.info-content {
     width: 32%;
     height: 80%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 15%;
     border-bottom: solid 5px var(--pr);
     flex-wrap: nowrap;
}

.info-ct-title {
     display: flex;
     gap: 15px;
     align-items: center;
     width: fit-content;
     height: 30%;
}

.info-ct-title i {
     font-size: 40px;
}

.info-ct-title p {
     font-size: 25px;
     font-family: "Gowun Batang", system-ui;
}

.info-ct-txt {
     font-size: 16px;
     font-family: "Gowun Batang", system-ui;
     text-align: justify;
     display: flex;
     align-items: flex-start;
     justify-content: center;
     overflow-y: scroll;
}
.info-ct-txt::-webkit-scrollbar{
     display: none;
}


.info-ct-txt p {
     width: 90%;
}


.orcamento{
     width: 100vw;
     background: linear-gradient(to right, var(--dc), var(--de),  var(--de),  var(--de), var(--dc));     
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 50px;
}
.orcamento-mockup{
     top: 0;
     width: 100%;
}
.orcamento-mockup img{
     width: 100%;
     
}

.orcamento-title h1{
     font-family: "Gowun Batang", system-ui;
     font-size: 27px;
     font-weight: 400;
     color: var(--bc);
}

.orcamento-title{
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
}

.orcamento-title::after{
     content: "";
     position: absolute;
     bottom: -5px; /* Coloca a linha logo abaixo do texto */
     width: 150px;
     height: 1px; /* Espessura da linha */
     background-color: var(--bc); /* Cor da linha */
}


.form{
     height: 60vh;
     width: 100vw;
     display: flex;
     align-items: center;
     justify-content: center;
}
form{
     height: 90%;
     width: 50%;
}

.form-data{
     height: 30%;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 2%;
     flex-wrap: wrap;
}

.form-data input, .form-message textarea{
     padding: 15px;
     border: none;
     border-radius: 5px;
}

#nome{
     width: 90%;
}

#email, #telefone{
     width: 44%;
}

.form-message{
     height: 55%;
     display: flex;
     align-items: center;
     justify-content: center;
}

#mensagem{
     width: 90%;
     height: 70%;
     padding: 15px; /* Ajusta o espaçamento interno */
     line-height: 1.5; /* Define o espaçamento entre linhas */
     vertical-align: top; /* Alinha o texto verticalmente ao topo */
     text-align: left; /* Garante o alinhamento do texto à esquerda */
     resize: none; /* Remove a opção de redimensionar */
   

}

#mensagem::placeholder{
     top: 15px;
     left: 15px;
     position: absolute;
     font-family: Arial, Helvetica, sans-serif;
}

.form-button{
     position: relative;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     height: 15%;
}

.form-button button {
     padding: 10px;
     margin-right: 5%;
     font-size: 20px;
     color: var(--de);
     background-color: var(--be);
     border: none;
     border-radius: 10px;
     transition: 0.15s; 
}

.form-button button:hover{
     cursor: pointer;
     scale: 1.025;
}

.form-button button:disabled{
     background-color: var(--be);
     color: var(--pr);
     cursor: not-allowed;
}

.aviso{
     display: none;
     position: absolute;
     right: 8%;
     color: var(--pr);
     font-family: "Gowun Batang", system-ui;
     font-size: 17px;
     font-weight: 900;
     height: 90px;
     padding: 30px;
     align-items: center;
     justify-content: center;
     text-align: center;
     border: solid 1px var(--bc);
     z-index: 1000;
     background-color: var(--be);
     border-radius: 10px;
     box-shadow: 1px 1px 6px 0px var(--pr);
}

.whatsapp{
     position: fixed;
     left: 0;
     bottom: 0;
     margin: 30px;
     padding: 10px;
     z-index: 100000;
     background-color: #40C351;
     border-radius: 50%;
     border: 1px white solid;
     box-shadow: 1px 1px 9px  var(--pr);
     display: flex;
     align-items: center;
     justify-content: center;
}

.whatsapp i{
     font-size: 40px;
}


/* Media query para telas médias (até 1024px) */
@media (max-width: 1024px) {

     .info-top-mockup{
          top: -10px;
     }
     .info-bot-mockup{
          bottom: -10px;
     }
     .info{
          height: fit-content;
     }
     .info-block{
          width: 90%;
          height: 110vh;
          flex-wrap: wrap;
          flex-direction: column;
          gap: 10%;
     }

     .sec-info{
          flex-wrap: wrap;
          height: 30%;
          gap: 10%;
          width: 90%;
     }

     .info-content{
          height: 50%;
          width: 45%;
     }
     .form form{
          width: 75%;
     }


 }
 
 /* Media query para telas pequenas (até 768px) */
 @media (max-width: 768px) {

     .res-content p{
          font-size: 14px;
     }
     .marketing{
          margin: 30px 0;
          height: 70vh;
     }
     .mark-ct-slogan{
          font-size: 18px;
     }
     .mark-ct-meio p{
          font-size: 15px;
     }
     .marketing-filter{
          opacity: 70%;
     }
     .marketing-img{
          height: 100%;
          width: 100vw;
     }
     .marketing-img img{
          max-width: none;
          height: 100%;
          transform: translateX(-70px);
     }

     .resumo{
          justify-content: space-evenly;
     }
     .res-rt-side{
          width: 60%;
          padding: 0;
     }
     .res-title{
          font-size: 18px;
          text-align: left;
     }
     .res-content{
          font-size: 15px;
     }
     .info-ct-title p{
          font-size: 20px;
     }

     .form form{
          width: 75%;
     }
 }
 
 /* Media query para telas muito pequenas (até 480px) */
 @media (max-width: 480px) {

     .marketing{
          margin: 30px 0;
          height: 70vh;
     }
     .mark-ct-slogan{
          font-size: 18px;
     }
     .mark-ct-meio p{
          font-size: 15px;
     }
     .marketing-filter{
          opacity: 70%;
     }
     .marketing-img{
          height: 100%;
          width: 100vw;
     }
     .marketing-img img{
          max-width: none;
          height: 100%;
          transform: translateX(-70px);
     }

     .info{
          height: 175vh;
     }
     .info-block{
          flex-wrap: nowrap;
          height: 175vh;
          padding: 60px 0;
          justify-content: center;
          gap: 2.5%;
     }

     .sec-info{
          flex-wrap: nowrap;
          flex-direction: column;
          gap: 5%;
          height: 45%;
     }
     .info-content{
          width: 95%;
          height: 33.3%;
     }
     .form form{
          width: 95%;
     }
 }
 